# Django
DEBUG=1
SECRET_KEY=replace_this_with_a_secure_key

# Postgres
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASS= pass
RABBITMQ_HOST=rabbitmq
RABBIT_PORT=5672

# SimpleJWT
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=1